.carousel {
  display: flex;
  align-items: center;
  height: 200px;
  border: 1px solid purple;
  overflow: hidden;
}

.carousel:hover .projectMedia {

}

.carouselContainer {
  flex: 2;
  margin-left: 5px;
  overflow: hidden;
}

.projectMedia {
  width: 100%;
}

.projectMediaContainer {
  position: absolute;
  perspective: 200px;
}

.projectSlide {
  display: flex;
  align-items: center;
  background-size: cover;
  transition: 1s;
  height: 100%;
  transform-style: preserve-3d;
}

.projectSlide img {
  width: 100%;
}

.coverflow__container__1P-xE {
  background-color: transparent !important;
}

.coverflow__actions__1D5QO {
  bottom: 0px !important;
}

.coverFlowContainer {
  flex: 2;
  margin-left: 5px;
}

.coverflowTitle {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

//.project {
//  padding: 10px;
//  background-color: #fff;
//}
.header {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  z-index: 99999;
}

.headerContainer {
  height: 100%;
  display: flex;
}

.headerContainerHolder {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.profileInfo {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid purple;
}

.profileInfoBody {

}

.profileInfoHeader {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}
html, body {
  padding: 0;
  margin: 0;
}

body {
  //background-image: url('../images/circuitBoard.jpg');
  //background-attachment: fixed;
  //background-size: cover;
  font-family: "Arial Black", Gadget, sans-serif;
}

.boxShadow {
  box-shadow: 3px 3px 3px 2px #888;
}

.mainContainer {
  height: 100%;
  display: flex;
}

.mainContainerHolder {
  display: flex;
  justify-content: center;
}