.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #fff;
}

.carouselContainer {
  flex: 2;
  margin-left: 5px;
  overflow: hidden;
}

.carouselHeader {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-decoration: underline;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
}

.projectMedia {
  width: 100%;
}

.projectMediaContainer {
  position: absolute;
  transition: 1s;
  perspective: 200px;
}

.projectSlide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: 1s;
  //height: 150px;
  transform-style: preserve-3d;
}

.projectSlide:hover .viewButton {
  opacity: 1;
}

.viewButton {
  opacity: 0;
  position: relative;
  bottom: 5px;
}

@media only screen and (max-width: 900px) {
  .carouselContainer {
    margin: 0;
  }
}