.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.7);
}

.carouselContainer {
  flex: 2;
  margin-left: 5px;
  overflow: hidden;
}

.carouselHeader {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-decoration: underline;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
}

.carouselHolder:hover .carousel, .carouselHolder:hover .projectTitle {
  background: rgba(255, 255, 255, 1);
}

.leftArrow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2px;
  position: absolute;
  left: 0;
  width: 20px;
  z-index: 200;
}

.leftArrow:hover i {
  color: #ddd;
}

.leftArrow i {
  cursor: pointer;
}

.projectMedia {
  width: 100%;
}

.projectMediaContainer {
  position: absolute;
  transition: 1s;
  perspective: 200px;
}

.projectSlide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: 1s;
  transform-style: preserve-3d;
}

.projectSlide:hover .viewButton {
  opacity: 1;
}

.projectTitle {
  text-align: center;
  text-decoration: underline;
  font-size: 1.4em;
  padding: 5px 0;
  background: rgba(255, 255, 255, 0.7);
}

.rightArrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2px;
  position: absolute;
  right: 0;
  width: 20px;
  z-index: 200;
}

.rightArrow:hover i {
  color: #ddd;
}

.rightArrow i {
  cursor: pointer;
}

.viewButton {
  opacity: 0;
  position: relative;
  bottom: 5px;
}

@media only screen and (max-width: 900px) {
  .carouselContainer {
    margin: 0;
  }
}