.modal {
  display: none;
  position: absolute;
  padding: 10px;
  width: 90%;
  z-index: 200;
  opacity: 0;
  transition: 1s;
}

.modalMedia {
  width: 100%;
}

.modalMediaHolder {
  margin-bottom: 10px;
}