.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 10px;
}

.headerContainer {
  height: 100%;
  display: flex;
}

.headerContainerHolder {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.headerInfo {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.headerInfoTitle {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-decoration: underline;
}

.headerTitle {
  font-size: 1.5em;
}