.header {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  z-index: 99999;
}

.headerContainer {
  height: 100%;
  display: flex;
}

.headerContainerHolder {
  height: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}