.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 10px;
}

.headerContainer {
  height: 100%;
  display: flex;
}

.headerContainerHolder {
  min-height: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.headerDividerLine {
  position: relative;
}

.headerDividerLine img {
  position: absolute;
  left: -2px;
  width: 100%;
}

.headerInfo {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.headerInfoTitle {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-decoration: underline;
}

.headerLogo {
  width: 50px;
  height: 50px;
}

.headerTitle {
  display: flex;
  font-size: 1.5em;
  cursor: default;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape),
only screen and (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .headerTitle {
    margin-bottom: 20px;
  }

  .headerLogo {
    display: none;
  }
}